

.imageCard{
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageCard img{
    height: 100%;
}

.aurora-container {
    width: 100%;
    height: 100%;
}

@media (max-width:500px) {
    .imageCard{
        height: auto;
        border-radius: 10px;
    }
    .imageCard img{
        border-radius: 10px;
    }
}