<section id="contact" class="w-full pt-16 pb-0 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto px-4">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Let's talk</h2>
    <h3 class="text-4xl md:text-5xl font-semibold text-[var(--white)] mb-10">
      Contact Me
    </h3>

    <div class="items-center">
      <div class="text-[var(--white-icon)] text-lg">
        <p class="mb-6 leading-relaxed">
          Have a question, a project idea, or just want to say hi? <br />
          Feel free to reach out — I'm always open to new opportunities!
        </p>
      </div>

      <div class="flex ">
        <a
          target="_blank"
          href="https://mail.google.com/mail/?view=cm&fs=1&to=mohamed18540000@gmail.com"
          aria-label="Email"
          class="text-xl inline-block bg-[var(--sec)] hover:bg-opacity-90 text-[var(--white)] font-medium py-3 px-8 rounded-full shadow-lg transition-all duration-300"
        >
          Let's Talk
        </a>
      </div>
    </div>
  </div>
</section>
